<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET PASSWORD</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="static/css/reset.css"> 
    

    <script>
        {% if msg %}
            window.alert("{{ msg }}");
        {% endif %}

        function validateResetForm() {
            const email = document.forms["resetForm"]["email"].value;
            const password = document.forms["resetForm"]["password"].value;
            const confirmPassword = document.forms["resetForm"]["confirm_password"].value;

            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$/;

            if (!emailPattern.test(email)) {
                alert("Please enter a valid email address.");
                return false;
            }

            if (!passwordPattern.test(password)) {
                alert("Password must be at least 8 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character.");
                return false;
            }

            if (password !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Reset Password</h1>
        <form name="resetForm" method="post" action="/reset_password" onsubmit="return validateResetForm()">
            <label for="email">Enter your registered email:</label>
            <input type="text" name="email" id="email" placeholder="Enter your email">

            <label for="password">Enter your new password:</label>
            <input type="password" name="password" id="password" placeholder="Enter new password">

            <label for="confirm_password">Re-enter the new password:</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Re-enter new password">

            <button type="submit">RESET</button>
        </form>
        <div class="message">
           <b> Please make sure to use a strong password.</b>
        </div>
    </div>
</body>
</html>
